
*.class

*.xml

*.properties

*.md

out/production/CS6250-Project/Multi-Client-Server-chat-application/Client-Android/.classpath

out/production/CS6250-Project/Multi-Client-Server-chat-application/Client-Android/.project

*.prefs

*.dex

*.apk

*.jar

*.png

*.ap_

*.txt

out/production/CS6250-Project/Multi-Client-Server-chat-application/javaSwing-Server_Client/build/classes/.netbeans_automatic_build

out/production/CS6250-Project/Multi-Client-Server-chat-application/javaSwing-Server_Client/build/classes/.netbeans_update_resources

*.mf
newVersion/.metadata/.lock
newVersion/.metadata/.log
newVersion/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.gen
newVersion/.metadata/.mylyn/.taskListIndex/segments_1
*.zip
*.version
*.fdt
*.frq
*.index
*.resources
*.xmi
newVersion/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
newVersion/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.json
*.fdx
*.tii
*.fnm
*.nrm
*.tis
*.lock
newVersion/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
newVersion/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
newVersion/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.setup
*.log
newVersion/.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
newVersion/.project

*.iml
