
*.class

*.xml

*.properties

*.md

*.iml

out/production/CS6250-Project/Multi-Client-Server-chat-application/Client-Android/.classpath

out/production/CS6250-Project/Multi-Client-Server-chat-application/Client-Android/.project

*.prefs

*.dex

*.apk

*.jar

*.png

*.ap_

*.txt

out/production/CS6250-Project/Multi-Client-Server-chat-application/javaSwing-Server_Client/build/classes/.netbeans_automatic_build

out/production/CS6250-Project/Multi-Client-Server-chat-application/javaSwing-Server_Client/build/classes/.netbeans_update_resources

*.mf
